


body{
  background-color: lightblue;
  border-width: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

h1{
  color:red;
  font-familty:helvetica;
  text-align: center;
}

P{
  color: black;
}

h3{
  color: red;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  border: 0;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  border-width: none;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
